script(type: 'text/javascript', src: '/js/index.js')
h2 signin
form(action: '/signin', method: 'post')
  label username:
    input(name: 'username', type: 'text')
  label password:
    input(name: 'password', type: 'password')
h2 signup
form(action: '/signup', method: 'post')
  label username:
    input(name: 'username', type: 'text')
  label password:
    input(name: 'password', type: 'password')
  label confirm password:
    input(name: 'confirmation', type: 'password')
h2 stories
div#stories
  - each story in stories
    div.story
      a(href: '/story/'+story.value._id)= story.value.title
br
a(href: '/all') view all stories &raquo;
