!!! 5
html(lang="en")
  head
    script(type: 'text/javascript', src: '/client/socket.io.js')
    script(type: 'text/javascript', src: '/js/jquery-1.4.2.min.js')
    script(type: 'text/javascript', src: '/js/json.js')
    script(type: 'text/javascript', src: '/js/index.js')
  body!= body
