h1 my dashboard
h2 create new story
form(action: '/create', method: 'post')
  label title:
    input(name: 'title', type: 'text')
h2 my stories
div#stories
- if(user.stories)
  - for (var i in user.stories)
    a(href: '/story/'+user.stories[i].id) #{user.stories[i].title}
    br
- else
  p#no-stories no stories yet, get started!
br
a(href: '/all') view all stories &raquo;
